*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
desktop.ini

local.properties
keystore.properties
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/app/src/androidTest/java/com/liorhass/android/usbterminal/free/ExampleInstrumentedTest.kt
/app/src/test/java/com/liorhass/android/usbterminal/free/ExampleUnitTest.kt
/Art/App_Icon.png
/Art/App_Icon.svg
/Art/App_Icon_2_android.svg
/Art/App_Icon_2_bg.svg
/Art/App_Icon_2_fg.svg
/Art/bg1_old2.png
/Art/desktop.ini
/Art/fg1 - Copy.png
/Art/fg1_old2.png
/Art/tmp1.svg
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/app/release
